:host {
  display: flex;
  justify-content: center;
}

.container p > * {
  width: 100%;
}

mat-card {
  overflow: hidden;
}

mat-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;

  &.show {
    height: 5px;
  }
}
