<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar mat-elevation-z4">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Boneare Café</h1>

    <span style="flex: 1"></span>

    <span>
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" [fixedTopGap]="56"
                 [opened]="navOpened"
                 class="mat-elevation-z4">
      <mat-nav-list style="width: 300px">
        <a mat-list-item *ngFor="let item of menu; let i = index" [routerLink]="[item.url]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: i === 0}">
          <mat-icon matListIcon>{{item.icon}}</mat-icon>
          <p matLine>{{item.title}}</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
