<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar mat-elevation-z4">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="logo" >
      <img src="/assets/img/boneare-logo.png" alt="">
    </a>
    <h1 class="app-name">
      {{title}}
    </h1>

    <span style="flex: 1"></span>

    <span>
      <a mat-icon-button routerLink="/sign-in" *ngIf="!user">
        <mat-icon>person</mat-icon>
      </a>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" [fixedTopGap]="56"
                 [opened]="navOpened"
                 class="mat-elevation-z4">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matListIcon>home</mat-icon>
          <p matLine>Início</p>
        </a>
        <a mat-list-item *ngIf="!user" routerLink="/sign-in" routerLinkActive="active">
          <mat-icon matListIcon>person</mat-icon>
          <p matLine>Iniciar sessão</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
