<!--suppress JSUnresolvedVariable, HtmlFormInputWithoutLabel -->
<div class="center">
  <form #formInfo="ngForm" (submit)="onSubmit(formInfo)">
    <mat-toolbar>
      <!--<mat-card-title>-->
      <a mat-icon-button type="button" [disabled]="loading" routerLink="/order" matTooltip="Ir para lista"
         matTooltipPosition="below">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <span *ngIf="!info.id">Novo pedido</span>
      <span *ngIf="info.id" [title]="info.name" class="ellipsis">
          {{(info.name?.length > 40 ? (info.name | slice:0:40) + '...' : info.name)}}
        </span>
      <span style="flex: 1"></span>
      <button mat-icon-button type="button" *ngIf="info.id" [matMenuTriggerFor]="removeMenu" [disabled]="loading"
              matTooltip="Excluir pedido" matTooltipPosition="below">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #removeMenu="matMenu">
        <div class="mat-menu-header">Você realmente deseja excluir?</div>
        <button mat-menu-item (click)="remove()">Sim</button>
        <button mat-menu-item>Não</button>
      </mat-menu>
      <!--</mat-card-title>-->
    </mat-toolbar>
    <div class="card-space">
      <mat-progress-bar mode="query" [class.show]="loading"></mat-progress-bar>
      <mat-accordion>
        <mat-expansion-panel #expansionOne [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pedido
              <i *ngIf="!expansionOne.expanded && nameField.dirty && nameField.touched && nameField.invalid">
                contém campo inválido
              </i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput #nameField="ngModel" name="name" [(ngModel)]="info.name" type="text" required
                     maxlength="100" [disabled]="loading">
              <mat-hint align="end" *ngIf="info.name?.length >= 100">{{info.name?.length || 0}}/100</mat-hint>
              <mat-error *ngIf="nameField.hasError('required')">
                Preencha com o nome
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Cliente</mat-label>
              <input matInput #clientFieldEl #clientField="ngModel" name="client" type="text" placeholder="Escolha um cliente"
                     [(ngModel)]="clientSelected" [matAutocomplete]="clientAutocomplete"
                     (keyup)="clientAutocompleteFilter(clientFieldEl.value)" (focus)="subPanelScroll()">
              <mat-autocomplete #clientAutocomplete="matAutocomplete" [displayWith]="clientDisplayFn">
                <mat-option *ngFor="let client of clients" [value]="client">
                  {{client.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-spinner matSuffix *ngIf="clients.loading"></mat-spinner>
            </mat-form-field>
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Transações
            </mat-panel-title>
          </mat-expansion-panel-header>
          <smart-list #phoneList [model]="info.transactions">
            <smart-list-item *ngFor="let phone of phoneList.list; let i = index;">
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Telefone</mat-label>
                  <input matInput #phoneNumberField="ngModel" [name]="'phoneNumber' + i" [(ngModel)]="phone.number"
                         type="text" maskPhone [disabled]="loading">
                  <button mat-icon-button type="button" matSuffix class="show-on-hover"
                          *ngIf="i < phoneList.list.length - 1" (click)="phoneList.remove(i);"
                          matTooltip="Remover telefone" matTooltipPosition="above">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-form-field>
              </p>
            </smart-list-item>
          </smart-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-toolbar *ngIf="!appComponent.mobileQuery.matches">
      <span style="flex: 1"></span>
      <button mat-raised-button color="success" [disabled]="loading">{{!info.id ? 'ADICIONAR' : 'SALVAR'}}</button>
    </mat-toolbar>

    <mat-card class="manut mat-elevation-z0" *ngIf="info.createdBy">
      Criado por {{info.createdBy}} em
      <span [title]="info.creationDate | date : 'full'">{{info.creationDate | date : 'medium'}}</span>
      <span *ngIf="info.updatedBy">
            <br>Alterado por {{info.updatedBy}} em
            <span [title]="info.lastUpdateDate | date : 'full'">{{info.lastUpdateDate | date : 'medium'}}</span>
          </span>
    </mat-card>

    <pre>{{info | json}}</pre>
  </form>
</div>

<div class="fab-container-space" *ngIf="appComponent.mobileQuery.matches"></div>

<app-fnls-displacer>
  <div class="fab-container" *ngIf="appComponent.mobileQuery.matches">
    <button mat-fab color="success" (click)="onSubmit(formInfo)" [disabled]="loading">
      <i class="material-icons">check</i>
    </button>
  </div>
</app-fnls-displacer>
