:host {
  display: block;
  position: relative;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
}

p > * {
  width: 100%;
}

form {
  width: 100%;
  max-width: 600px;
}

.card-space {
  position: relative;
}

mat-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  z-index: 1;

  &.show {
    height: 5px;
  }
}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.fab-container-space {
  height: 74px;
}

:host-context(.is-mobile) .fab-container-space {
  height: 82px;
}

mat-toolbar {
  background-color: transparent;
  a + span {
    margin-left: 16px;
  }
  span + button {
    margin-left: 16px;
  }
}

.manut {
  opacity: 0.6;
  font-size: 12px;
}

mat-card.mat-elevation-z0 {
  background-color: transparent;
}

mat-spinner[matSuffix] {
  width: 24px !important;
  height: 24px !important;

  ::ng-deep {
    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

.flex-container {
  display: flex;
  @media (max-width: 600px) {
    display: block;
    border-bottom: 1px solid rgba(black, 0.25);
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
  &.break-line {
    display: block;
    border-bottom: 1px solid rgba(black, 0.25);
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  & > * {
    flex: 1;
  }

  & > div {
    padding-right: 8px;
    & > * {
      width: 100%;
    }
  }

  .button {
    max-width: 40px;
    margin-top: 10px;
    @media (max-width: 600px) {
      margin-top: initial;
      display: block;
    }
  }
}

smart-list-item:last-child .flex-container {
  @media (max-width: 600px) {
    border-bottom: initial;
    margin-bottom: initial;
    padding-bottom: initial;
  }
}

mat-panel-title i.warn {
  margin-left: 16px;
  color: #f44336;
}
mat-panel-title i.hint {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.58);
}

mat-expansion-panel {
  position: relative;
}
