<!--suppress JSUnresolvedVariable, HtmlFormInputWithoutLabel -->
<div class="center">
  <form #formInfo="ngForm" (submit)="onSubmit(formInfo)">
    <mat-toolbar>
      <!--<mat-card-title>-->
      <a mat-icon-button type="button" [disabled]="loading" routerLink="/order" matTooltip="Ir para lista"
         matTooltipPosition="below">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <span *ngIf="!info.id">Novo pedido</span>
      <span *ngIf="info.id" [title]="info.name" class="ellipsis">
          {{(info.name?.length > 40 ? (info.name | slice:0:40) + '...' : info.name)}}
        </span>
      <span style="flex: 1"></span>
      <button mat-icon-button type="button" *ngIf="info.id" [matMenuTriggerFor]="removeMenu" [disabled]="loading"
              matTooltip="Excluir pedido" matTooltipPosition="below">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #removeMenu="matMenu">
        <div class="mat-menu-header">Você realmente deseja excluir?</div>
        <button mat-menu-item (click)="remove()">Sim</button>
        <button mat-menu-item>Não</button>
      </mat-menu>
      <!--</mat-card-title>-->
    </mat-toolbar>
    <div class="card-space">
      <mat-progress-bar mode="query" [class.show]="loading"></mat-progress-bar>
      <mat-accordion>
        <mat-expansion-panel #expansionOne [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pedido
              <i class="warn" *ngIf="!expansionOne.expanded && descriptionField.touched && descriptionField.invalid">
                contém campo inválido
              </i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Descrição</mat-label>
              <input matInput #descriptionField="ngModel" name="description" [(ngModel)]="info.description" type="text"
                     required maxlength="100" [disabled]="loading">
              <mat-hint align="end" *ngIf="info.description?.length >= 100">{{info.description?.length || 0}}/100
              </mat-hint>
              <mat-error *ngIf="descriptionField.hasError('required')">
                Preencha com a descrição
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Cliente</mat-label>
              <input matInput #clientFieldEl #clientField="ngModel" name="client" type="text"
                     placeholder="Escolha um cliente"
                     [(ngModel)]="clientSelected" [matAutocomplete]="clientAutocomplete"
                     (keyup)="clientAutocompleteFilter(clientFieldEl.value)" (focus)="subPanelScroll()"
                     (blur)="clientSelected == clientFieldEl.value ? info.client = clientSelected = undefined : null">
              <mat-autocomplete #clientAutocomplete="matAutocomplete" [displayWith]="clientDisplayFn">
                <mat-option *ngFor="let client of clients" [value]="client">
                  {{client.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-spinner matSuffix *ngIf="clients.loading"></mat-spinner>
            </mat-form-field>
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel #expansionTwo>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Produtos
              <i class="hint" *ngIf="!expansionTwo.expanded && info.products.length">
                {{calcProductTotal() | currency : 'R$'}}
              </i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let product of info.products; let i = index">
              <p matLine>
                <span> {{product.name}} </span>
                <span> x{{product.quantity}} </span>
              </p>
              <p matLine>
                {{(product.quantity * product.price) | currency : 'R$'}}
              </p>
              <button mat-icon-button type="button" matSuffix
                      (click)="productSelected = newProduct = info.products.splice(i, 1)[0]"
                      matTooltip="Editar produto" matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button type="button" matSuffix (click)="info.products.splice(i, 1)"
                      matTooltip="Remover produto" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
            <mat-list-item *ngIf="info.products.length">
              <p matLine>
                <span style="font-weight: 500">Total</span>
              </p>
              <p matLine>
                {{calcProductTotal() | currency : 'R$'}}
              </p>
            </mat-list-item>
          </mat-list>
          <div class="flex-container">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Produto</mat-label>
                <input matInput #productFieldEl #productField="ngModel" name="product" type="text"
                       placeholder="Escolha um produto"
                       [(ngModel)]="productSelected" [matAutocomplete]="productAutocomplete"
                       (keyup)="productAutocompleteFilter(productFieldEl.value)" (focus)="subPanelScroll()"
                       (blur)="productSelected == productFieldEl.value ? productSelected = undefined : null">
                <mat-autocomplete #productAutocomplete="matAutocomplete" [displayWith]="productDisplayFn">
                  <mat-option *ngFor="let product of products" [value]="product">
                    {{product.name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-spinner matSuffix *ngIf="products.loading"></mat-spinner>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Quantidade</mat-label>
                <input matInput #phoneNumberField="ngModel" name="newQuantity" [(ngModel)]="newProduct.quantity"
                       type="tel" [disabled]="loading">
              </mat-form-field>
            </div>
            <div class="button">
              <button mat-icon-button type="button" matSuffix
                      (click)="addNewProduct()"
                      matTooltip="Adicionar produto" matTooltipPosition="above">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel #expansionThree>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Transações
              <i class="hint" *ngIf="!expansionThree.expanded && info.transactions.length">
                {{calcTransactionTotal() | currency : 'R$'}}
              </i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let transaction of info.transactions; let i = index">
              <p matLine>
                <span> {{transaction.type}} </span>
              </p>
              <p matLine>
                {{(transaction.val) | currency : 'R$'}}
              </p>
              <button mat-icon-button type="button" matSuffix
                      (click)="newProduct = info.transactions.splice(i, 1)[0]"
                      matTooltip="Editar transação" matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button type="button" matSuffix (click)="info.transactions.splice(i, 1)"
                      matTooltip="Remover transação" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
            <mat-list-item *ngIf="info.transactions.length">
              <p matLine>
                <span style="font-weight: 500">Total</span>
              </p>
              <p matLine>
                {{calcTransactionTotal() | currency : 'R$'}}
              </p>
            </mat-list-item>
          </mat-list>
          <div class="flex-container" [class.break-line]="appComponent.snav.opened">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select name="newType" [(ngModel)]="newTransaction.type" [disabled]="loading">
                  <mat-option *ngFor="let type of transactionTypes" [value]="type.id">
                    {{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Valor</mat-label>
                <input matInput #phoneNumberField="ngModel" name="newValue"
                       [(ngModel)]="newTransaction.val"
                       type="text" currencyMask [options]="{ prefix: 'R$ ', suffix: '', thousands: '.', decimal: ',' }"
                       [disabled]="loading">
              </mat-form-field>
            </div>
            <div class="button">
              <button mat-icon-button type="button" matSuffix
                      (click)="addNewTransaction()"
                      matTooltip="Adicionar transação" matTooltipPosition="above">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-toolbar *ngIf="!appComponent.mobileQuery.matches">
      <span style="flex: 1"></span>
      <button mat-raised-button color="success" [disabled]="loading">{{!info.id ? 'ADICIONAR' : 'SALVAR'}}</button>
    </mat-toolbar>

    <mat-card class="manut mat-elevation-z0" *ngIf="info.createdBy">
      Criado por {{info.createdBy}} em
      <span [title]="info.creationDate | date : 'full'">{{info.creationDate | date : 'medium'}}</span>
      <span *ngIf="info.updatedBy">
            <br>Alterado por {{info.updatedBy}} em
            <span [title]="info.lastUpdateDate | date : 'full'">{{info.lastUpdateDate | date : 'medium'}}</span>
          </span>
    </mat-card>

    <pre>info {{info | json}}</pre>
    <pre>clientSelected {{clientSelected | json}}</pre>
    <pre>newProduct {{newProduct | json}}</pre>
    <pre>productSelected {{productSelected | json}}</pre>
  </form>
</div>

<div class="fab-container-space" *ngIf="appComponent.mobileQuery.matches"></div>

<app-fnls-displacer>
  <div class="fab-container" *ngIf="appComponent.mobileQuery.matches">
    <button mat-fab color="success" (click)="onSubmit(formInfo)" [disabled]="loading">
      <i class="material-icons">check</i>
    </button>
  </div>
</app-fnls-displacer>
