<div class="center">
  <form #formInfo="ngForm" (submit)="onSubmit(formInfo)">
    <mat-toolbar>
      <!--<mat-card-title>-->
      <a mat-icon-button type="button" [disabled]="loading" routerLink="/client" matTooltip="Ir para lista"
         matTooltipPosition="below">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <span *ngIf="!info.id">Novo cliente</span>
      <span *ngIf="info.id" [title]="info.name" class="ellipsis">
          {{(info.name?.length > 40 ? (info.name | slice:0:40) + '...' : info.name)}}
        </span>
      <span style="flex: 1"></span>
      <button mat-icon-button type="button" *ngIf="info.id" [matMenuTriggerFor]="removeMenu" [disabled]="loading"
              matTooltip="Excluir cliente" matTooltipPosition="below">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #removeMenu="matMenu">
        <div class="mat-menu-header">Você realmente deseja excluir?</div>
        <button mat-menu-item (click)="remove()">Sim</button>
        <button mat-menu-item>Não</button>
      </mat-menu>
      <!--</mat-card-title>-->
    </mat-toolbar>
    <div class="card-space">
      <mat-progress-bar mode="query" [class.show]="loading"></mat-progress-bar>
      <mat-accordion>
        <mat-expansion-panel #expansionOne [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Informações
              <i class="warn" *ngIf="!expansionOne.expanded && nameField.touched && nameField.invalid">
                contém campo inválido
              </i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput #nameField="ngModel" name="name" [(ngModel)]="info.name" type="text" required
                     maxlength="100"
                     [disabled]="loading">
              <mat-hint align="end" *ngIf="info.name?.length >= 100">{{info.name?.length || 0}}/100</mat-hint>
              <mat-error *ngIf="nameField.hasError('required')">
                Preencha com o nome
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Documento</mat-label>
              <input matInput #documentField="ngModel" name="document" [(ngModel)]="info.document" type="text"
                     maxlength="20" placeholder="CPF ou CNPJ" [disabled]="loading">
              <mat-hint align="end" *ngIf="info.document?.length >= 20">
                {{info.document?.length || 0}}/20
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Descrição</mat-label>
              <textarea matInput #descriptionField="ngModel" name="description" [(ngModel)]="info.description"
                        maxlength="200" [disabled]="loading" autosize></textarea>
              <mat-hint align="end">
                {{info.description?.length || 0}}/200
              </mat-hint>
            </mat-form-field>
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-progress-bar mode="query" [class.show]="cepService.loadingCep"></mat-progress-bar>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Endereço
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>CEP</mat-label>
              <input matInput #zipCodeFieldEl #zipCodeField="ngModel" name="zipCode" [(ngModel)]="info.address.zipCode"
                     type="tel" maskCep [disabled]="loading || cepService.loadingCep">
              <button mat-icon-button type="button" matSuffix
                      (click)="searchCep(info.address.zipCode, numberFieldEl, zipCodeFieldEl)"
                      [disabled]="loading || cepService.loadingCep"
                      matTooltip="Buscar informações do endereço" matTooltipPosition="above">
                <mat-icon>search</mat-icon>
              </button>
              <mat-error *ngIf="zipCodeField.hasError('mask')">
                Preencha com um CEP válido
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Rua</mat-label>
              <input matInput #streetField="ngModel" name="street" [(ngModel)]="info.address.street" maxlength="200"
                     type="text" [disabled]="loading || cepService.loadingCep">
              <mat-hint align="end" *ngIf="info.address.street?.length >= 200">
                {{info.address.street?.length || 0}}/200
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Número</mat-label>
              <input matInput #numberFieldEl #numberField="ngModel" name="number" [(ngModel)]="info.address.number"
                     maxlength="20"
                     type="text" [disabled]="loading">
              <mat-hint align="end" *ngIf="info.address.number?.length >= 20">
                {{info.address.number?.length || 0}}/20
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Complemento</mat-label>
              <input matInput #complementField="ngModel" name="complement" [(ngModel)]="info.address.complement"
                     maxlength="200"
                     type="text" [disabled]="loading || cepService.loadingCep">
              <mat-hint align="end" *ngIf="info.address.complement?.length >= 200">
                {{info.address.complement?.length || 0}}/200
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Bairro</mat-label>
              <input matInput #districtField="ngModel" name="district" [(ngModel)]="info.address.district"
                     maxlength="50"
                     type="text" [disabled]="loading || cepService.loadingCep">
              <mat-hint align="end" *ngIf="info.address.district?.length >= 50">
                {{info.address.district?.length || 0}}/50
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Cidade</mat-label>
              <input matInput #cityField="ngModel" name="city" [(ngModel)]="info.address.city" maxlength="50"
                     type="text" [disabled]="loading || cepService.loadingCep">
              <mat-hint align="end" *ngIf="info.address.city?.length >= 50">
                {{info.address.city?.length || 0}}/50
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Estado</mat-label>
              <!--<input matInput #stateField="ngModel" name="state" [(ngModel)]="info.address.state" maxlength="50"
                     type="text" [disabled]="loading || cepService.loadingCep">-->
              <mat-select [(value)]="info.address.state" [disabled]="loading || cepService.loadingCep">
                <mat-option *ngFor="let state of states" [value]="state.uf">
                  {{state.name}}
                </mat-option>
              </mat-select>
              <mat-hint align="end" *ngIf="info.address.state?.length >= 50">
                {{info.address.state?.length || 0}}/50
              </mat-hint>
            </mat-form-field>
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Telefones
            </mat-panel-title>
          </mat-expansion-panel-header>
          <smart-list #phoneList [model]="info.phones">
            <smart-list-item *ngFor="let phone of phoneList.list; let i = index;">
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Telefone</mat-label>
                  <input matInput #phoneNumberField="ngModel" [name]="'phoneNumber' + i" [(ngModel)]="phone.number"
                         type="text" maskPhone [disabled]="loading">
                  <button mat-icon-button type="button" matSuffix class="show-on-hover"
                          *ngIf="i < phoneList.list.length - 1" (click)="phoneList.remove(i);"
                          matTooltip="Remover telefone" matTooltipPosition="above">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-form-field>
              </p>
            </smart-list-item>
          </smart-list>
        </mat-expansion-panel>
        <mat-expansion-panel #expansionFour>
          <mat-expansion-panel-header>
            <mat-panel-title>
              E-mails <i *ngIf="!expansionFour.expanded && !expansionFourValid">contém campo inválido</i>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <smart-list #emailList [model]="info.emails">
            <smart-list-item *ngFor="let email of emailList.list; let i = index;">
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>E-mail</mat-label>
                  <input matInput #emailField="ngModel" [name]="'email' + i" [(ngModel)]="email.email"
                         type="email" [disabled]="loading" [email]="true" maxlength="255"
                         (blur)="checkExpansionFourValid(expansionFour)">
                  <mat-hint align="end" *ngIf="email.email?.length >= 255">
                    {{email.email?.length || 0}}/255
                  </mat-hint>
                  <mat-error *ngIf="emailField.hasError('email')">
                    Preencha com um e-mail <strong>válido</strong>
                  </mat-error>
                  <button mat-icon-button type="button" matSuffix class="show-on-hover"
                          *ngIf="i < emailList.list.length - 1" (click)="emailList.remove(i);"
                          matTooltip="Remover e-mail" matTooltipPosition="above">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-form-field>
              </p>
            </smart-list-item>
          </smart-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-toolbar *ngIf="!appComponent.mobileQuery.matches">
      <span style="flex: 1"></span>
      <button mat-raised-button color="success" [disabled]="loading">{{!info.id ? 'ADICIONAR' : 'SALVAR'}}</button>
    </mat-toolbar>

    <mat-card class="manut mat-elevation-z0" *ngIf="info.createdBy">
      Criado por {{info.createdBy}} em
      <span [title]="info.creationDate | date : 'full'">{{info.creationDate | date : 'medium'}}</span>
      <span *ngIf="info.updatedBy">
            <br>Alterado por {{info.updatedBy}} em
            <span [title]="info.lastUpdateDate | date : 'full'">{{info.lastUpdateDate | date : 'medium'}}</span>
          </span>
    </mat-card>

    <pre>info {{info | json}}</pre>
    <pre>expansionOne.expanded {{expansionOne.expanded | json}}</pre>
    <pre>nameField.dirty {{nameField.dirty | json}}</pre>
    <pre>nameField.touched {{nameField.touched | json}}</pre>
    <pre>nameField.invalid {{nameField.invalid | json}}</pre>
  </form>
</div>

<div class="fab-container-space" *ngIf="appComponent.mobileQuery.matches"></div>

<app-fnls-displacer>
  <div class="fab-container" *ngIf="appComponent.mobileQuery.matches">
    <button mat-fab color="success" (click)="onSubmit(formInfo)" [disabled]="loading">
      <i class="material-icons">check</i>
    </button>
  </div>
</app-fnls-displacer>
